@import "tailwindcss";

@theme {
  --color-primary: #0F1E36;
  --color-accent: #D49E2D;
}

html {
  scroll-behavior: smooth;
  background-color: #F8FAFC;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}